extends layout

block content
    h2= title

    if currentUser
        h5 Welcome, #[strong= currentUser.username] (#{currentUser.member ? "Member" : "User" }).
    else
        h5 Please log in.
        form(action="/log-in" method="POST")
            .mb-3
                label(for="username") Username
                input.form-control(required name="username" placeholder="username" type="text" )
            .mb-3
                label(for="password") Password
                input.form-control(required name="password" type="password")
            button.btn.btn-primary Log In
