extends layout

block content
  h5 Please log in.
  form(action="/login" method="POST")
    p Don't have an account? 
      a(href="/signup") Sign up
      | .
    .mb-3
      label(for="username") Username
      input.form-control(required name="username" type="text" )
    .mb-3
      label(for="password") Password
      input.form-control(required name="password" type="password")
    button.btn.btn-primary Log In
