extends layout 

block content 
    h2 Messages
    .msg-grid
        for message in messages
            .card
                .card-body
                    .card-title
                        strong @#{message.creator.username}
                    .card-title
                        h6= message.title
                    p.card-text= message.text
                    small.text-muted Posted on #{message.timestamp_formatted}
