extends layout

block content
    h2 User Status
    p Welcome, #[strong= currentUser.fullname]. 
    p As 
        strong @#{currentUser.username}
        | , you have the following roles:
    ul 
        if currentUser.admin 
            li 
                strong Admin
        li User
        if currentUser.member 
            li
                p Member ⭐
    if !currentUser.member 
        p You can apply to be a member 
            a(href="/member") here
            | . Don't worry, the code is easy to find.