body {
  font: 14px 'Open Sans', 'Roboto', 'Lucida Grande', Helvetica, Arial,
    sans-serif;
}

nav {
  background-color: #e3f2fd;
}

.nav-item {
  margin-right: 10px;
}

.wrapper {
  max-width: 750px;
  margin: auto;
}

.msg-grid {
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
}
